* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.App {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 15px;
  column-gap: 15px;
}

/* generatorsInfo */
.generatorsInfo {
  width: 200px;
  color: white;
  background: lightseagreen;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.generatorsInfo span {
  color: red;
}

/* Map */
.Diagram {
  border: 1px solid black;
  border-radius: 10px;
  margin-left: 5px;
}

/* Info */
.InfoWrapper {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.header {
  background: lightseagreen;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 12px 6px;
  color: white;

}

.inputButtonWrapper {
  display: flex;
  gap: 10px;
}

.inputButton {
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 3px;
}

.inputButton:last-child {
  cursor: pointer;
}

.disable {
  opacity: 0;
  pointer-events: none;
}

.infoItems {
  background: lightseagreen;
  padding: 10px;
  border-radius: 10px;
  color: white;
  height: 680px;
  overflow-y: auto;
}

.infoItem {
  border-bottom: 2px solid white;
  padding: 10px 0;
}

.consumer {
  color: blue;
}

.generator {
  color: red;
}

/* TransactionsInfo */
.TransactionWrapper {
  margin-top: 15px;
  padding: 12px;
  background: lightseagreen;
  width: 100%;
  color: white;
}

.TransactionsInfo {
  margin-top: 5px;
  display: flex;
  gap: 20px;
}